.item_form input, .item_form textarea {
    border: px solid #3f4257;
    border-radius: 3px;
    transition: all 0.2s;
}

.item_form.error input, .item_form.error textarea {
    border: 1px solid red;
}