.author_thumb {
    height: 50px;
    width: 50px;
}
.author_thumb img {
    border-radius: 100%;
    max-width: 100%;
    overflow: hidden;
    display: block;
}
.list_messages {
    width: 40%;
}
.now_dialogs {
    border-left: 1px solid #e6ecf5;
    width: 60%;
}

.notification_event {
    width: 84%;
}
.notification_friend {
    color: #515365;
    text-decoration: none;
    font-weight: bold;
    margin: 5px 0;
    display: block;
}
.chat_message_item, .notification_date {
    color: #888da8;
    font-size: 0.8em;
    display: block;
    margin: 10px 0;
}

.message_in_dialog {
    margin: 10px;
    border: 1px solid #e6ecf5;
    padding: 5px 10px;
    width: 70%;
    color: #515365;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.message_in_dialog p {
    margin: 0;
    width: 87%;
}

.message_in_dialog .author_thumb {
    width: 10%;
    margin-right: 2%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.message_in_dialog.message_for_people {
    flex-flow: row-reverse;
    float: right;
    text-align: right;
}

.message_in_dialog.message_for_people .author_thumb {
    margin-right: 0px;
    margin-left: 2%;
}

.message_in_dialog.message_for_me {
    float: left;
}