.content {
    width: 100%;
    display: flex;
    flex-flow: column;
    margin: 10px 0;
    padding: 0;
    background-color: #fff;
    position: relative;
}

.container {
    max-width: 1100px;
    display: flex;
    flex-flow: column;
    align-self: center;
    justify-content: space-between;
    width: 100%;
}