html, body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  min-height: 100%;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-flow: column;
  background-color: #edf2f6;
}

.App * {
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 100%;
}

.fixed-sidebar {
  position: fixed;
  left: 0;
  padding: 0;
  width: 70px;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  z-index: 10;
}

.fixed-sidebar .logo {
  background-color: #ff5e3a;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  flex-flow: column;
}

.left-menu {
  display: flex;
  flex-flow: column;
  padding: 0;
  margin: 0 0;
  text-align: left;
  font-size: 12px;
  list-style: none;
}

.left-menu a {
  color: #888;
  padding: 10px 5px;
  margin: 0;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  border-bottom: 1px solid #9a9fbf;
}
.left-menu a.active, .left-menu a:hover {
  background-color: #ddd;
}



.header {
  height: 70px;
  background-color: #3f4257;
  display: flex;
  justify-content: center;
}

.header .page-title {
  text-transform: uppercase;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .page-title > * {
  color: #fff;
  margin: 0;
  font-weight: bold;
  font-size: 1rem;
}

.author-page.more {
  position: relative;
  transition: all .3s ease;
  color: #888da8;
  fill: #c0c4d8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.author-name {
  color: #ffffff;
  text-decoration: none;
}

.author-title {
  font-weight: 700;
  font-size: 12px;
  color: #fff;
}

.author-subtitle {
  display: block;
  font-weight: 700;
  color: #9a9fbf;
  font-size: 8px;
}

.content {
  width: 100%;
  display: flex;
  flex-flow: column;
  min-height: 600px;
  margin: 20px 0;
  padding: 0;
  background-color: #fff;
}

.content p {
  color: #282c34;
  font-weight: bold;
  font-size: 2em;
}

.profile--content {
  padding: 20px;
}

.top-header-thumb img {
  display: block;
  width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

img {
  vertical-align: unset;
  max-width: 100%;
  height: auto;
  display: inline-block;
}


.footer {
  height: 70px;
  background-color: #3f4257;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
}

.footer .page-title {
  text-transform: uppercase;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .page-title > * {
  color: #fff;
  margin: 0;
  font-weight: bold;
  font-size: 1rem;
}