.content {
    width: 100%;
    display: flex;
    flex-flow: column;
    min-height: 600px;
    margin: 20px 0;
    padding: 0;
    background-color: #fff;
}

.container {
    max-width: 1100px;
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 100%;
}

.content p {
    color: #282c34;
    font-weight: bold;
    font-size: 1em;
}

.content a {
    color: #282c34;
}

.profile__content {
    padding: 20px;
}

.top_header_thumb img {
    display: block;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.top_header_thumb img {
    vertical-align: unset;
    max-width: 100%;
    height: auto;
    display: inline-block;
}

.profile__posts {
    padding: 0;
    border-top: 1px solid #3f4257;
    color: #282c34;
    font-size: 1em;
}

.profile__posts_item {
    padding: 25px;
    border-bottom: 1px solid #e6ecf5;
    background-color: #fafbfd;
    position: relative;
}

.profile__posts_item .profile__posts_item_auth {
    font-weight: bold;
    font-size: 1.1em;
}

.profile__posts_item p {
    font-size: 0.8em;
    color: #3f4257;
}