.top_header_thumb img {
    display: block;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    margin-bottom: 150px;
}

.top_header_thumb img {
    vertical-align: unset;
    max-width: 100%;
    height: auto;
    display: inline-block;
}

.top_header_author {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    bottom: auto;
    top: 130px;
    text-align: center;
    max-width: 200px;
    z-index: 4;
}

.top_header_author .author_thumb {
    border-radius: 100%;
    border: 6px solid #fff;
    margin: 0 auto;
    overflow: hidden;
    width: 132px;
    height: 132px;
    background-color: #FDFBEE;
}

.author_name {
    color: #515365;
    margin: 4px 0;
}

.country {
    font-weight: 400;
    line-height: 1.5;
    color: #888da8;
    font-size: 0.8em;
    margin: 4px 0;
}