.content {
    width: 100%;
    display: flex;
    min-height: 340px;
    margin: 10px 0;
    padding: 0;
    background-color: #fff;
    position: relative;
}

.container {
    max-width: 1100px;
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 100%;
}

.notification_list.chat_message {
    background-color: transparent;
    padding: 0;
    margin: 0;
}
.notification_list {
    margin-bottom: 0;
}
.notification_list li {
    padding: 15px;
    border-bottom: 1px solid #e6ecf5;
    display: block;
    position: relative;
    transition: all .3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chat_message .author_thumb {
    height: 50px;
    width: 50px;
}
.author_thumb img {
    border-radius: 100%;
    max-width: 100%;
    overflow: hidden;
    display: block;
}
.list_messages {
    width: 40%;
}
.now_dialogs {
    border-left: 1px solid #e6ecf5;
    width: 60%;
}
.notification_event {
    width: 84%;
}
.notification_friend {
    color: #515365;
    text-decoration: none;
    font-weight: bold;
    margin: 5px 0;
    display: block;
}
.chat_message_item, .notification_date {
    color: #888da8;
    font-size: 0.8em;
    display: block;
    margin: 10px 0;
}