.content {
    width: 100%;
    display: flex;
    min-height: 900px;
    margin: 10px 0;
    padding: 0;
    background-color: #fff;
    position: relative;
}

.container {
    max-width: 1100px;
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 100%;
}

.notification_list a {
    padding: 15px;
    border-bottom: 1px solid #e6ecf5;
    display: block;
    position: relative;
    transition: all .3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.notification_list a:last-child {
    border-bottom: unset;
}
.list_messages {
    width: 40%;
}
.now_dialogs {
    border-left: 1px solid #e6ecf5;
    width: 60%;
}

.notification_event {
    width: 84%;
}